body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-wrapper {
    width: 470px;
    height: 400px;
    background-color: lightblue;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-img {
    width: 430px;
    height: 225px;
}

.naujienos {
    font-size: 0.8rem;
}

.card-wrapper p {
    font-size: 1.5rem;

    font-weight: bolder;
}

.du {
    font-size: 1.8rem;

    font-weight: bolder;

    color: red;
}
